.App {
	text-align: center;
	background: white;
	height: 100vh;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
/* General Styles */
body {
	font-family: Arial, sans-serif;
	background-color: #f4f4f4;
	margin: 0;
	padding: 0;
}

/* App Container */
.app-container {
	text-align: center;
	padding: 20px;
}

h1 {
	margin-bottom: 20px;
	color: #333;
}
.table-container {
	margin: 0 auto;
	width: 80%;
	background: #fff;
	border-radius: 8px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	overflow: hidden;
	border: 1px solid #ddd;

	table {
		width: 100%;
		border-collapse: collapse;
	}

	thead {
		background-color: #007bff;
		color: white;
	}

	th,
	td {
		padding: 16px;
		text-align: center;
	}
	.loading {
		text-align: center;
		padding: 20px;
		color: #666;
	}
	.bg-even {
		background-color: aliceblue;
	}
}

.paginator {
	margin: 20px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 8px;
	background-color: white;
	.paginator__btnContainer {
		border-radius: 8px;
		border: 1px #ddd solid;
		width: auto;
		overflow: hidden;
	}
	button {
		padding: 10px 20px;
		border: none;
		color: #337ab7;
		background-color: white;
		cursor: pointer;
		transition: background-color 0.3s ease;
		font-weight: 500;
		&:disabled {
			background-color: #ccc;
			cursor: not-allowed;
		}
		&:hover:not(:disabled) {
			background-color: #eee;
		}
	}
	.selectedBtn {
		background-color: #337ab7;
		color: white;
		pointer-events: none;
	}
}
